body {
  padding: 5vh 10vw;
  color: #121314;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: calc(11px + 0.33vw);
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.4em;
  max-width: 30em;
  line-height: 1.6;
}

a {
  color: #121314;
  text-decoration: none;
  border-bottom: 0.1em solid #42b983;
}

a:hover {
  color: #42b983;
}
